<span><button mat-button mat-dialog-close class="expbtn">
        <mat-icon>close</mat-icon>
    </button></span><br><br>
<div style="margin-left: 2em;">
    <span style="color: darkblue; font-weight: bolder; font-size: 15px;">ID prijave
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Datum prijave &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

</div>
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor='let app of applications; let i=index' [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{app.id}}
            </mat-panel-title>
            <mat-panel-description>
                {{app.postingDate}}


            </mat-panel-description>



        </mat-expansion-panel-header>
        <table style="justify-content: center;" cellspacing="8">
            <tr *ngFor='let item of app.labels;let k=index'>
                <td style="font-weight: bolder; font-size:15px">{{item}}:</td>
                <td style="color: blueviolet; font-size:15px">{{values[i].displayArr[k]}}</td>
                <td *ngIf="filePropertyFlags[i*app.labels.length + k]"><a
                        href="{{uploadsURI}}{{values[i].displayArr[k]}}" target="_blank">
                        <mat-icon>attach_file</mat-icon>
                    </a></td>
            </tr>
        </table>
        <div *ngIf='app.status=="poslato"'>
            <button mat-button (click)='accept(app)'>
                <mat-icon [ngStyle]="{'color':'blue'}">thumb_up</mat-icon>
            </button>&nbsp;
            <button mat-button (click)='decline(app)'>
                <mat-icon [ngStyle]="{'color':'blue'}">thumb_down</mat-icon>
            </button>
        </div>


    </mat-expansion-panel>
</mat-accordion>