mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    display: block;
    justify-content: center;
  }

  mat-tab-label{
      color: aliceblue;
  }

  mat-stepper{
      max-width: 600px;
      margin: 2em auto;
      text-align: center;
      display: block;
  }

 .green{
     color: chartreuse;
 }

 .red{
     color: crimson;
 }

 table {
    margin: 2em auto;
    width: 40%;
    justify-content: center;
  }

  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .example-spacer {
    flex: 1 1 auto;
  }